.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

// Tooltips
.bottom-full {
	bottom: 100%;
}

.top-full {
	top: 100%;
}

.tooltip:hover + .tooltip-text {
	opacity: 100%;
}

.personal-login {
	background: url('assets/images/wheat-field.jpeg') center center/cover
		no-repeat fixed;

	h3,
	h4 {
		text-shadow: 2px 2px 7px #333;
	}
}

.business-login {
	background: url('assets/images/bank-tower.jpeg') center center/cover
		no-repeat fixed;

	h3,
	h4 {
		text-shadow: 2px 2px 7px #333;
	}
}
