// Base Styling

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body {
	font-family: 'Roboto', sans-serif;
}

button {
	color: #f4f4f4;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgb(146, 148, 248);
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			120deg,
			transparent,
			rgba(146, 148, 248, 0.4),
			transparent
		);
		transition: all 650ms;
	}

	&:hover {
		&:before {
			left: 100%;
		}

		box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
	}
}

// App Styling

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

// Tooltips
.bottom-full {
	bottom: 100%;
}

.top-full {
	top: 100%;
}

.tooltip:hover + .tooltip-text {
	opacity: 1;
}

// Hamburger Menu Button

button.hamburger {
	text-decoration: unset;
	position: unset;

	&::before {
		content: unset;
		position: unset;
		top: unset;
		left: unset;
		width: unset;
		height: unset;
		background: unset;
		transition: unset;
	}
}

.hamburger {
	font: inherit;
	overflow: visible;
	margin: 0;
	padding: 15px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;

	.hamburger-box {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;

		.hamburger-inner {
			position: absolute;
			width: 40px;
			height: 4px;
			top: 2px;
			left: 0;
			transition: background-color 0s linear 0.13s;
			transition-timing-function: ease;
			transition-duration: 0.15s;
			border-radius: 4px;
			background-color: #fff;

			&::before {
				display: block;
				content: '';
				top: -10px;
				position: absolute;
				width: 40px;
				height: 4px;
				transition-timing-function: ease;
				transition-duration: 0.15s;
				transition-property: transform;
				border-radius: 4px;
				background-color: #fff;
				top: 10px;
				transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1)
						0.2s,
					transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}

			&::after {
				display: block;
				content: '';
				position: absolute;
				width: 40px;
				height: 4px;
				transition-timing-function: ease;
				transition-duration: 0.15s;
				transition-property: transform;
				border-radius: 4px;
				background-color: #fff;
				top: 20px;
				transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1)
						0.2s,
					transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}
		}
	}

	&.is-active {
		.hamburger-inner {
			transition-delay: 0.22s;
			background-color: transparent !important;

			&::before {
				top: 0;
				transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333)
						0.15s,
					transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
				transform: translate3d(0, 10px, 0) rotate(45deg);
			}

			&::after {
				top: 0;
				transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
					transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
				transform: translate3d(0, 10px, 0) rotate(-45deg);
			}
		}
	}
}

// Personal Login Page

.personal-login {
	background: url('assets/images/wheat-field.jpeg') center center/cover
		no-repeat fixed;

	h3,
	h4 {
		text-shadow: 2px 2px 7px #333;
	}
}

// Business Login Page

.business-login {
	background: url('assets/images/bank-tower.jpeg') center center/cover
		no-repeat fixed;

	h3,
	h4 {
		text-shadow: 2px 2px 7px #333;
	}
}
